@import "config/font_settings";
@import "config/colors";
@import "components/card";
@import "components/tag";
@import "pages/projects";

body {
  background-color: black;
  color: white;
  font-family: "Alliance No.2", sans-serif;
  font-style: normal;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.presentation h4 {
  margin-bottom: 0.2em;
}

.headline > h1 {
  max-width: 510px;
}


.wrapper-body, footer {
  padding: 1.75rem;
}

// z

.p-top {
  margin-top: 40px;
}

a {
  color: white;
  font-style: italic;
  text-decoration: none;
  transition: all 200ms;

  &:focus,
  &:hover {
    color: rgba(#000, 0.5);
  }
}

hr {
  opacity: 1;
  // margin-top: 0;
  margin-bottom: 18px;
}

.subtitle {
  margin-top: 8px;
}

img {
  width: 100%;
  border-radius: 6px;
}

footer {
  background: black;
  display: flex;
  align-items: center;
  // padding-top: 30px;
  // padding-bottom: 30px;
  margin-top: 32px;
}

footer p {
  font-size: 16px;
}

.fade-in {
  -webkit-animation: animateThisFade 900ms;
  -webkit-animation-fill-mode: forwards;
}

.reveal {
  opacity: 1;
  transition: 1s;
  transition-delay: 150ms;
}

@-webkit-keyframes animateThisFade {
  0% { opacity: 0;  }
  100% { opacity: 1; }
}
