@import "config/colors";
@import "config/font_settings";
@import "components/card";
@import "components/tag";
@import "pages/projects";

body {
  background-color: white;
  color: black;
  font-family: "Alliance No.2", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

.presentation h4 {
  margin-bottom: 0.2em;
}

.headline > h1 {
  max-width: 800px;
}

.wrapper-body, footer {
  padding: 1rem;
}

.wrapper-index {
  img {
    transition: opacity ease 300ms;
  }
  img:hover {
    opacity: 0.85;
  }

  transition: 500ms;
}

.p-top {
  margin-top: 40px;
}

a {
  color: black;
  font-style: italic;
  text-decoration: none;
  transition: all 200ms;

  &:focus,
  &:hover {
    color: rgba(#000, 0.5);
  }
}

hr {
  opacity: 1;
  margin-bottom: 18px;
}

.subtitle {
  margin-top: 16px;
}

img {
  width: 100%;
  border-radius: 6px;
}

footer p {
  font-size: 16px;
}
