@import "config/colors";
@import "config/font_settings";
@import "components/card";
@import "components/tag";
@import "pages/projects";

body {
  background-color: white;
  color: black;
  font-family: "Founders Grotesk", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
}

.wrapper-body {
  padding: 1rem;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

.intro {
  margin-top: 14px;
}

hr {
  opacity: 1;
}

.subtitle {
  margin-top: 32px;
}

img {
  width: 100%;
  border-radius: 8px;
}
