.card-project {
  margin-bottom: 16px;

  h2 {
    margin-bottom: 0px;
  }

  .card-intro {
    margin-bottom: 16px;
  }
}

.container-img {
  text-align: center;
  overflow: hidden;

  img {
    transition: ease 400ms;
  }
  img:hover {
    transform: scale(1.025);
  }
}
