.tags {
  padding: 6px 12px;
  border-radius: 32px;
  background: $secondary;
  font-family: 'Alliance No.2';
  font-size: 16px;
  text-transform: uppercase;
  transition: font-style 300ms;
  cursor: pointer;
  margin-right: 4px;
  font-style: normal;

  a:hover {
    color: inherit;
  }
}

.filters {
  .tags {
    opacity: 0.4;
    transition: opacity 200ms;

    &:hover {
      opacity: 1;
    }
  }

  .active-tag {
    opacity: 1;
    font-style: italic;
  }

  a:hover {
    color: inherit;
  }
}
