.tags {
  padding: 6px 12px;
  border-radius: 32px;
  background: black;
  font-family: 'Alliance No.2';
  font-size: 16px;
  text-transform: uppercase;
  transition: font-style 300ms;
  cursor: pointer;
  margin-right: 4px;
  font-style: normal;

  a:hover {
    color: inherit;
  }
}

p.tags {
  margin-bottom: 0;
}

.filters {
  position: sticky;
  top: 0px;
  background-color: black;
  font-weight: lighter;
  width: 100vw;
  height: 46px;
  z-index: 100;
  padding-left: 1.75rem;
  display: flex;
  align-items: center;
  transition: top 0.3s;
  white-space: nowrap;
  overflow-x: auto;

  .tags {
    text-transform: uppercase;
    opacity: 0.4;
    transition: opacity 200ms;
    border: solid 1px white;
    padding: 3px 10px;

    &:hover {
      opacity: 1;
    }
  }

  .active-tag {
    opacity: 1;
    // font-style: italic;
  }

  a:hover {
    color: inherit;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.filters::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.filters {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.count {
  display: none;
}
