@font-face {
    font-family: 'Alliance No.2';
    src: url('../../fonts/AllianceNo2-LightItalic.eot');
    src: url('../../fonts/AllianceNo2-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AllianceNo2-LightItalic.woff2') format('woff2'),
        url('../../fonts/AllianceNo2-LightItalic.woff') format('woff'),
        url('../../fonts/AllianceNo2-LightItalic.ttf') format('truetype'),
        url('../../fonts/AllianceNo2-LightItalic.svg#AllianceNo.2-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('../../fonts/AllianceNo2-Light.eot');
    src: url('../../fonts/AllianceNo2-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/AllianceNo2-Light.woff2') format('woff2'),
        url('../../fonts/AllianceNo2-Light.woff') format('woff'),
        url('../../fonts/AllianceNo2-Light.ttf') format('truetype'),
        url('../../fonts/AllianceNo2-Light.svg#AllianceNo.2-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

// @font-face {
//     font-family: 'Alliance No.2';
//     src: url('AllianceNo2-RegularItalic.eot');
//     src: url('AllianceNo2-RegularItalic.eot?#iefix') format('embedded-opentype'),
//         url('AllianceNo2-RegularItalic.woff2') format('woff2'),
//         url('AllianceNo2-RegularItalic.woff') format('woff'),
//         url('AllianceNo2-RegularItalic.ttf') format('truetype'),
//         url('AllianceNo2-RegularItalic.svg#AllianceNo.2-RegularItalic') format('svg');
//     font-weight: normal;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Alliance No.2';
//     src: url('AllianceNo2-Regular.eot');
//     src: url('AllianceNo2-Regular.eot?#iefix') format('embedded-opentype'),
//         url('AllianceNo2-Regular.woff2') format('woff2'),
//         url('AllianceNo2-Regular.woff') format('woff'),
//         url('AllianceNo2-Regular.ttf') format('truetype'),
//         url('AllianceNo2-Regular.svg#AllianceNo.2-Regular') format('svg');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }


// @font-face {
//     font-family: 'Alliance No.2';
//     src: url('AllianceNo2-Medium.woff2') format('woff2'),
//         url('AllianceNo2-Medium.woff') format('woff');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Alliance No.2';
//     src: url('AllianceNo2-RegularItalic.woff2') format('woff2'),
//         url('AllianceNo2-RegularItalic.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Alliance No.2';
//     src: url('AllianceNo2-Regular.woff2') format('woff2'),
//         url('AllianceNo2-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Founders Grotesk';
//     src: url('../../fonts/FoundersGrotesk-Light.woff2') format('woff2'),
//         url('../../fonts/FoundersGrotesk-Light.woff') format('woff');
//     font-weight: 300;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Founders Grotesk';
//     src: url('../../fonts/FoundersGrotesk-LightItalic.woff2') format('woff2'),
//         url('../../fonts/FoundersGrotesk-LightItalic.woff') format('woff');
//     font-weight: 300;
//     font-style: italic;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Founders Grotesk';
//     src: url('../../fonts/FoundersGrotesk-Regular.woff2') format('woff2'),
//         url('../../fonts/FoundersGrotesk-Regular.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'Founders Grotesk Regular';
//     src: url('../../fonts/FoundersGrotesk-RegularItalic.woff2') format('woff2'),
//         url('../../fonts/FoundersGrotesk-RegularItalic.woff') format('woff');
//     font-weight: normal;
//     font-style: italic;
//     font-display: swap;
// }



// @import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&display=swap');

// ____________________________________


h1 {
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.1em;
}

h2 {
  // font-size: 2rem;
  font-weight: 300;
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
}

h4, .subtitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
}

p {
  font-size: 1.2rem;
  line-height: 1.3em;
  font-weight: 300;
}

