@font-face {
    font-family: 'Founders Grotesk';
    src: url('../../fonts/FoundersGrotesk-Light.woff2') format('woff2'),
        url('../../fonts/FoundersGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../../fonts/FoundersGrotesk-LightItalic.woff2') format('woff2'),
        url('../../fonts/FoundersGrotesk-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk';
    src: url('../../fonts/FoundersGrotesk-Regular.woff2') format('woff2'),
        url('../../fonts/FoundersGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Founders Grotesk Regular';
    src: url('../../fonts/FoundersGrotesk-RegularItalic.woff2') format('woff2'),
        url('../../fonts/FoundersGrotesk-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('AllianceNo2-LightItalic.woff2') format('woff2'),
        url('AllianceNo2-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('AllianceNo2-Light.woff2') format('woff2'),
        url('AllianceNo2-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('AllianceNo2-Medium.woff2') format('woff2'),
        url('AllianceNo2-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('AllianceNo2-RegularItalic.woff2') format('woff2'),
        url('AllianceNo2-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Alliance No.2';
    src: url('AllianceNo2-Regular.woff2') format('woff2'),
        url('AllianceNo2-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400&display=swap');

// ____________________________________


h1 {
  font-size: 52px;
  font-weight: 300;
  margin-top: 10px;
  line-height: 1em;
}

h2 {
  font-size: 44px;
  font-weight: 300;
}

h3 {
  font-weight: 300;
  font-size: 1.5rem;
}

h4 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.02em;
  // font-family: 'Frank Ruhl Libre';
}

p {
  font-size: 1.4rem;
  line-height: 1.2em;
  font-weight: 300;
}
