---
title: Miebi
---

<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 340" class="middleman-logo" aria-labelledby="middleman-logo__title" role="img">
  <title id="middleman-logo__title">Middleman</title>
  <path class="middleman-logo__top-left-bar" fill-opacity=".45" d="M0 40L200 0v30L0 60z"/>
  <path class="middleman-logo__top-right-bar" fill="#fff" d="M200 0l200 40v20L200 30z"/>
  <path class="middleman-logo__left-m" fill-opacity=".45" d="M0 78v184l45 5V152l45 83 47-83v129l53 7V52l-57 8-43 83-43-70z"/>
  <path class="middleman-logo__right-m" fill="#fff" d="M400 78v184l-45 5V152l-45 83-47-83v129l-53 7V52l57 8 43 83 43-70z"/>
  <path class="middleman-logo__bottom-left-bar" fill-opacity=".45" d="M0 300l200 40v-30L0 280z"/>
  <path class="middleman-logo__bottom-right-bar" fill="#fff" d="M200 340l200-40v-20l-200 30z"/>
</svg> -->

<% projects = [
  { title: "Curators", tags: ["design", "development"]},
  { title: "Dreamscape"},
  { title: "Facebook Gaming"}
  ] %>



<div class="wrapper wrapper-index">
  <div class="row presentation">
    <div class="col-xs-12 col-lg-6">
      <h1>Hi, I’m Miebi, a web developer and digital designer</h1>
    </div>

    <div class="col-xs-12 col-lg-6">
      <p class="intro">I'm an arts and culture enthusiast, especially when it comes to new technologies and immersive experiences. After working as a graphic designer in New York, I joined Le Wagon coding bootcamp to become a web developer and extend my skills in the digital field. </p>
      <div class="row mt-4">
        <div class="col-6">
          <h4>Say hi</h4>
          <p>hi@miebi.space</p>
        </div>
        <div class="col-6">
          <h4>Find me online</h4>
          <p>@utilisateur387 | GitHub | LinkedIn</p>
        </div>
      </div>
    </div>
  </div>


  <h4 class="subtitle">Latest projects</h4>

  <% data.projects.list.each do |project| %>
    <hr>
    <div class="card-project">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h2><%=  project.title %></h2>
        </div>

        <div class="col-xs-12 col-md-6">
          <p><%= project.description %></p>
        </div>
        <% if project.tags %>
          <p>
            <% project.tags.each do |tag| %>
              <span class="tags"><%= tag %></span>
            <% end %>
          </p>
        <% end %>
      </div>
      <div style="width:100%; height:600px; background: black; border-radius: 8px"></div>
    </div>
  <% end %>
</div>

<!-- <%= link_to 'About', '/about' %> -->
